# Ignore datasets
#   data/*.csv
  data/*.log
# data/UNSW-NB15_1.csv
# data/UNSW-NB15_2.csv
# data/UNSW-NB15_3.csv
# data/UNSW-NB15_4.csv
# data/cleaned_unsw.csv
# data/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv
data/*.json

# Ignore compiled machine learning models
models/*.h5
#models/*.pkl

# Ignore cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
env/
